@import '../../styles/variables'

.button
  width 200px
  height 50px
  border none
  background-color var(--button-primary-background)
  display flex
  flex-direction row
  align-items center
  justify-content center
  font-size 12px
  position relative

  &--primary
    background-color var(--button-primary-background)
  
  &--secondary
    background-color var(--button-secondary-background)

.button__loader
  width 16px
  height 16px
  border-radius 100%
  position relative
  overflow hidden
  border 3px solid transparent
  border-top-color transparent
  animation spin 3s linear infinite

.button__loader--primary
  border-left: 3px solid var(--background-loader-primary)
  border-right: 3px solid var(--background-loader-primary)
  border-bottom: 3px solid var(--background-loader-primary)

.button__loader--secondary
  border-left: 3px solid var(--background-loader-secondary)
  border-right: 3px solid var(--background-loader-secondary)
  border-bottom: 3px solid var(--background-loader-secondary)

@keyframes spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
