@import '../../styles/variables'

.button
  border none
  display flex
  align-items center
  justify-content center
  position relative
  overflow hidden
  box-sizing border-box
  color var(--text-color-primary)

  &--primary
    background-color var(--button-primary-background)
    color var(--text-color-primary)

  &--secondary
    background-color var(--button-secondary-background)
    color var(--text-color-secondary)

  &--disabled
    opacity 0.36
    pointer-events none

  &:focus
    outline 4px solid var(--focus-border-color)
    outline-offset 2px

  @media (min-width: 1200px)
    width 163px
    height 56px
    font-size 17px
    border-radius 16px
    padding 16px 16px

  @media (min-width: 992px) and (max-width: 1199px)
    width 112px
    height 36px
    font-size 15px
    border-radius 12px
    padding 8px 12px

  @media (max-width: 991px)
    width 96px
    height 28px
    font-size 13px
    border-radius 9.3px
    padding 6px 10px

  &--size-56
    width 163px
    height 56px
    font-size 17px
    border-radius 16px
    padding 16px 16px

  &--size-36
    width 112px
    height 36px
    font-size 15px
    border-radius 12px
    padding 8px 12px

  &--size-28
    width 96px
    height 28px
    font-size 13px
    border-radius 9.3px
    padding 6px 10px

.button__content-group
  display flex
  align-items center
  justify-content space-between
  gap 8px
  box-sizing border-box

  .button--size-56 &
    gap 8px

  .button--size-36 &
    gap 6px

  .button--size-28 &
    gap 4px

.button__label
  white-space nowrap
  text-overflow ellipsis
  overflow hidden

  .button--size-56 &
    max-width calc(163px / 2)

  .button--size-36 &
    max-width calc(112px / 2)

  .button--size-28 &
    max-width calc(96px / 2)

  @media (min-width: 1200px)
    max-width calc(163px / 2)

  @media (min-width: 992px) and (max-width: 1199px)
    max-width calc(112px / 2)

  @media (max-width: 991px)
    max-width calc(96px / 2)

.button__shimmer
  display flex
  align-items center
  justify-content center
  width calc(100% / 3)
  overflow hidden

  &::before
    content ''
    position absolute
    top 0
    left -100%
    width 100%
    height 100%
    background-color var(--shimmer-color-primary)
    animation shimmer 1.5s infinite

  .button--secondary &
    &::before
      background-color var(--shimmer-color-secondary)

.button__loader
  display flex
  align-items center
  justify-content center
  border-radius 100%
  border 3px solid transparent
  animation spin 1s linear infinite
  box-sizing content-box 

  &.button__loader--size-56
    width 24px
    height 24px

  &.button__loader--size-36
    width 20px
    height 20px

  &.button__loader--size-28
    width 16px
    height 16px

  &.button__loader:not(.button__loader--size-56):not(.button__loader--size-36):not(.button__loader--size-28)
    @media (min-width: 1200px)
      width 24px
      height 24px

    @media (min-width: 992px) and (max-width: 1199px)
      width 20px
      height 20px

    @media (max-width: 991px)
      width 16px
      height 16px

  &--primary
    border-left-color var(--background-loader-primary)
    border-right-color var(--background-loader-primary)
    border-bottom-color var(--background-loader-primary)

  &--secondary
    border-left-color var(--background-loader-secondary)
    border-right-color var(--background-loader-secondary)
    border-bottom-color var(--background-loader-secondary)

@keyframes shimmer
  0%
    transform translateX(0%)
  100%
    transform translateX(300%)

@keyframes spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)