@import '../../styles/variables'

counterMixin(valueColor, backgroundColor)
  display flex
  justify-content center
  align-items center
  width 100px
  height 100px
  background-color backgroundColor
  border-radius 50%
  color valueColor
  font-size 24px
  font-weight bold

.counter--primary
  counterMixin(var(--primary-white), var(--primary-green))

.counter--secondary
  counterMixin(var(--secondary-black), var(--secondary-grey))