@import '../../styles/variables'

counterMixin(valueColor, backgroundColor)
  display flex
  justify-content center
  align-items center
  border-radius 50%
  color valueColor
  font-weight bold
  background-color backgroundColor

sizeMixin(size, padding, fontSize)
  min-width size
  min-height size
  padding padding
  .counter__value
    font-size fontSize

.counter--primary
  counterMixin(var(--primary-white), var(--primary-green))

.counter--secondary
  counterMixin(var(--secondary-black), var(--secondary-grey))

.counter--size-8
  width 8px
  height 8px
  .counter__value
    display none

.counter--size-12
  width 12px
  height 12px
  padding 4px
  .counter__value
    display none

.counter--size-16
  sizeMixin(16px, 4px, 10px)

.counter--size-20
  sizeMixin(20px, 4px, 12px)

.counter--size-24
  sizeMixin(24px, 6px, 14px)

.counter
  position relative
  display inline-flex
  justify-content center
  align-items center
  border-radius 50%

.counter__value
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

  &.one-char
    min-width 1em
    max-width 1em

  &.two-chars
    min-width 2em
    max-width 2em

  &.three-chars
    min-width 3em
    max-width 3em

.counter--stroke
  &.counter--size-8
    border 1px solid var(--dynamic-surface-base-secondary)
  &.counter--size-12
    border 2px solid var(--dynamic-surface-base-secondary)
  &.counter--size-16
    border 2px solid var(--dynamic-surface-base-secondary)
  &.counter--size-20
    border 2px solid var(--dynamic-surface-base-secondary)
  &.counter--size-24
    border 3px solid var(--dynamic-surface-base-secondary)