:root
  --primary-white: #FFFFFF
  --primary-green: #2FB675
  --secondary-black: #000000
  --secondary-grey: rgba(131, 102, 86, 0.12)
  --dynamic-surface-base-secondary: #0000FF
  --button-primary-background rgba(255, 119, 0, 1)
  --button-secondary-background rgba(131, 102, 86, 0.12)

  --background-loader-primary rgba(255, 255, 255, 1)
  --background-loader-secondary rgba(46, 47, 51, 1)
  