:root
  --primary-white: #FFFFFF
  --primary-green: #2FB675
  --secondary-black: #000000
  --secondary-grey: rgba(131, 102, 86, 0.12)
  --dynamic-surface-base-secondary: #0000FF

  --button-primary-background: rgba(255, 119, 0, 1)
  --button-secondary-background: rgba(131, 102, 86, 0.12)

  --text-color-primary: var(--primary-white)
  --text-color-secondary: var(--secondary-black)

  --background-loader-primary: var(--text-color-primary)
  --background-loader-secondary: var(--text-color-secondary)

  --shimmer-color-primary: rgba(255, 255, 255, 0.12)
  --shimmer-color-secondary: rgba(0, 0, 0, 0.12)

  --focus-border-color #007BFF

  --animation-state transition transform 500ms cubic-bezier(0, -0.3, 0.5, 1.3)